<!-- CONTENT -->
<div class="page-content">

  <div class="mdl-grid">

    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone texto-justificado">
      <div class="mdl-card mdl-shadow--2dp card-monitoria">
        <div class="mdl-card__title mdl-card--expand">
          <h5 class="mdl-card__title-text">Monitoria UNA</h5>
        </div>
        <div class="mdl-card__supporting-text">
          <p>WebApp desenvolvido para auxiliar os alunos do Centro Universitário UNA a pesquisarem monitorias
            específicas relacionadas
            às matérias que estejam cursando atualmente.
            <br />
            <br />
            Front-end desenvolvido em Angular com Material design, back-end desenvolvido em NodeJs com
            Express(hospedado na Umbler) e Banco de Dados MySql.
            <br />
            <br />
            Sistemas de Informação - 4° semestre, 2018.
            <!-- <a href="assets/files/doctec.pdf">Documentação técnica</a> -->
          </p>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--6-col-phone padding">
      <div class="mdl-card mdl-shadow--2dp card-monitoria">
        <img src="assets/pics/vinicius.jpg" alt="" width="100%">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Vinicius Castro</h2>
        </div>
        <div class="card-content white-text" style="padding:10px">
          <p>Responsável pelo front feito em Angular, Back-end e Banco de Dados</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.linkedin.com/in/vinicius-castrotidvs/">
            <i class="material-icons">linked</i> LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-card mdl-shadow--2dp card-monitoria">
        <img src="assets/pics/guilherme.jpg" alt="" width="100%">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Guilherme Albert</h2>
        </div>
        <div class="card-content white-text" style="padding:10px">
          <p>Responsável pelo layout, Front feito em PHP e Banco de Dados</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.linkedin.com/in/guilhermealbert/">
            <i class="material-icons">linked</i> LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-card mdl-shadow--2dp card-monitoria">
        <img src="assets/pics/mateus.jpg" alt="" width="100%">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Mateus Lisboa</h2>
        </div>
        <div class="card-content white-text" style="padding:10px">
          <p>Responsável pelo Front feito em PHP e Banco de Dados</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.linkedin.com/in/mateus-lisboa-aa81b8124/">
            <i class="material-icons">linked</i> LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-card mdl-shadow--2dp card-monitoria">
        <img src="assets/pics/wesley.jpg" alt="" width="100%">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">Wesley Miranda</h2>
        </div>
        <div class="card-content white-text" style="padding:10px">
          <p>Responsável pelo Banco de Dados</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://www.linkedin.com/in/wesley-miranda-99ab7a144/">
            <i class="material-icons">linked</i> LinkedIn
          </a>
        </div>
      </div>
    </div>
  </div>