<div >
  <h6 class="basePadding">Login</h6>
  <div class="mdl-dialog__content">
    <div [formGroup]="loginForm">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input formControlName="usuario" class="mdl-textfield__input" placeholder="Digite seu usuário">
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input formControlName="senha" class="mdl-textfield__input" type="password" placeholder="Digite sua senha">
      </div>
    </div>
    <span class="">
      <span class="mdl-chip__text">
        <i class="material-icons">info</i>
      </span>
    </span>
    <p class="mdl-tooltip">
      Seu usuário é sua matrícula.
    </p>
    <a href=""> Esqueci minha senha!</a>
  </div>
  <div class="mdl-dialog__actions">
    <button [disabled]="!loginForm.valid" (click)="logar()" type="submit" class="center mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Acessar</button>
  </div>
</div>